@page "/posts/masks-are-fueling-covid-transmission"

@model MasksAreFuelingCovidTransmissionModel
@{ ViewData["Title"] = "Masks Are Fueling COVID-19 Transmission"; }

<h2>Masks Are Fueling COVID-19 Transmission</h2>

<div class="row mb-5">
    <div class="col">
        <p class="italic">December 12th, 2020</p>

        <p>Masks are making this worse.</p>
        <p>You heard it here. I&#39;m in Denver, Colorado. Everywhere I go and every person I see - we are all wearing a mask. I&#39;m getting pretty tired of the &quot;wear your damn mask!&quot; narrative because I contend it&#39;s perpetuating the COVID madness. I am going to make the argument that &quot;wear your damn mask&quot; is, at best doing nothing, and at worst fueling the current COVID transmission levels.</p>
        <p>To begin, let&#39;s set two ground rules for my argument.</p>
        <ol>
            <li>
                <p>Can we agree that the primary means of COVID transmission is approximately 15 minutes of close contact (over a 24 hour timespan) with an infected person? At least, that&#39;s the info provided from the CDC. (cite) I know what you&#39;re saying, it can take more time or it can take less time. For the sake of argument, I think the approximate and most common case is sufficient. <a href="https://www.latimes.com/world-nation/story/2020-12-09/five-minutes-from-20-feet-away-south-korean-study-shows-perils-of-indoor-dining-for-covid-19">This article</a> from the LA Times is a perfect example to show that COVID transmission <em>is possible</em> outside of these parameters. Ask yourself - is this the scenario that is causing us to <em>surge</em> (whatever that actually means)?</p>
            </li>
            <li>
                <p>At most, 1% of your local population is unknowingly contagious at any given time (at least as of December 10th, 2020). The amount of positive tests vary by county. There can certainly be more than 1% of your local population that is contagious but those people have been identified and should be self-quarantined per CDC guidelines. The big takeaway from this is that roughly 99 out of 100 people you or I will encounter in public DO NOT have COVID.</p>
            </li>
        </ol>
        <p>I want to make myself crystal clear: I do not have one single care who you hang out with, where you go or what you do. My entire argument is that the narrative &quot;wear your damn mask so we can get back to normal&quot; is fatally flawed. We are driving ourselves insane when we think and act such that &quot;I&#39;m safe to hang around this group of people because I have a t-shirt on my face&quot;. Cloth masks are not going to do diddly-squat against COVID-19. Cloth masks are giving us a false sense of security because now we see that people think it&#39;s okay to engage in social activities that are fueling increased transmission.</p>
        <p>Now we can try to determine the impact of masking across different scenarios and settings.</p>
        <h2 id="fleeting-interactions">Fleeting Interactions</h2>
        <p>The first scenario to process is Fleeting Interactions. I contend that the majority of my interactions with people in public are ephemeral and fleeting. I pass people in the aisles at the grocery store and hardware store, occaisionally spend a few minutes in the checkout line, pass people while outdoors walking around my neighbor or the hiking trail. </p>
        <p>We see effectively zero transmission through our fleeting public interactions because we do not meet the threshold for sustained contact. The Exposure Notifications feature on our mobiles log devices only if we are in proximity for 15 or more minutes. Even if we did encounter a COVID-contagious person we did not spend enough time around them to be at risk of transmission. And if that&#39;s truly the case - that we do not get COVID from the supermarket, are we making any significant gains through wearing a mask? We still have the produce section where everyone is touching the avocados and tomatos.</p>
        <h2 id="sustained-interactions">Sustained Interactions</h2>
        <p>The second scenario is Sustained Interactions. I train martial arts 3-4 times per week. My kids take dance class. My kids were in school when they were allowed but now are forced virtual. My wife is a yoga instructor. Personally, I wear a (non-N95 because it&#39;s hard enough to breath in a mask) face covering at my martial arts class because the facility asks that we do. In class we all work one-on-one with a partner throughout the duration and we spend more than fifteen minutes at a distance of less than six feet. If my partner were to be COVID contagious - if my wife were to have a COVID-contagious student, mask or no mask then almost certainly we will contract COVID. </p>
        <p>If that&#39;s the case then do masks really make a difference? No, they don&#39;t.</p>
        <h2 id="so-now-what-">So now what?</h2>
        <p>If YOU are worried about unknowingly transmitting COVID-19 to others then you should absolutely minimize your social contact with the outside world. It&#39;s the only 100% proven method to reduce transmission.</p>
        <p>IF you are worried about personally contracting COVID-19 then ask yourself why? Are you high risk? Regardless of high or low risk, I am pleading with you to prioritize your health to increase the likelihood of a short and complication-free COVID infection. What steps are you taking to improve your diet and be active? What steps are you taking to reduce your existing comorbidities? Are you supplementing with <a href="https://chrismasterjohnphd.com/COVID-19/finally-confirmed-vitamin-d-nearly-abolishes-icu-risk-in-COVID-19">Vitamin D</a> and Vitamin C? The people with <a href="https://www.cdc.gov/nchs/nvss/vsrr/covid_weekly/index.htm#Comorbidities">existing comorbidities</a> absolutely have a reason to worry.</p>
        <h1 id="conclusion">Conclusion</h1>
        <p>I believe I have made the argument that COVID transmission is less common through our fleeting interactions because these encounters often fail to meet the threshold for time spent in close contact. Ask yourself this, does wearing a mask at the supermarket add much value? Or is the advice merely rigid dogma from &quot;public health experts&quot;? Furthermore, when we spend time in close contact then what is the purpose is the t-shirt on your face? To make yourself feel better? I suggest you read the <a href="https://www.cdc.gov/coronavirus/2019-ncov/php/public-health-recommendations.html">CDC guidelines</a> that define a COVID exposure and their guidance specifically states that &quot;respiratory personal protective equipment&quot; wearing does not alleviate the need to quarantine when exposed to a COVID positive person.</p>
        <p>Last but not least. Knock it off with this bullshit of &quot;but you&#39;re going to get someone else sick!&quot;. The people who are getting COVID are those that are not taking the proper precautions. It&#39;s not entirely their fault; public health experts are actively lying to us.</p>
    </div>
</div>