@page "/about"

@model AboutModel
@{
    ViewData["Title"] = "About";
}

<h2>About</h2>

@*<div class="container-fluid">*@
    <div class="row">
        <div class="col-md">
            <p>I contend that we have not a COVID-19 crisis but a metabolic and systemic health crisis in the United States (and throughout the world). Individuals, young and old, have made the choice to be metabolically compromised and systemically ill. Now the sick are dictating to their fellow citizens how to respond for their own protection. I advocate for personal responsibility and choice. I argue that getting sick is a human right and that no one can deny you this right. COVID-19 is not a death sentence to the fit and healthy. We should protect our terminally ill neighbors and those whose health is compromised not by choice.</p>

            <p>My bias is that the COVID-19 response in and across the United States is overblown and hysterical. In other words, the juice has not been worth the squeeze. I wanted to interrogate the data myself to understand just how much of a shit show we are in (or not in!).</p>

            <p>I'm fed up with the suffering of our children and our economy. I'm fed up with the tyrannically government, at all levels, that has imposed its' will on the citizens to render them helpless and at their mercy. Kiss the ring? Better yet, Fight The Power.</p>

            <p>The media and government present COVID-19 statistics in a manner such that in promotes overreaction and mass hysteria. The sky is falling! I am attempting to push an interpretation of the data that is sane and allows the average citizen to be their own judge.</p>

            <p>I hail from western Pennsylvania. I moved to Denver, CO in 2015. I am married with two kids. I am a software engineer by trade.</p>

            <p>Contact me by opening an issue at the <a href="https://github.com/ryanrodemoyer/covid-complex" target="_blank">GitHub repository</a> or <a href="https://twitter.com/covidcomplex" target="_blank">Twitter DM</a>.</p>
        </div>
    </div>
@*</div>*@

@*@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}*@