@page "/dashboard"

@model web.Pages.DashboardModel
@{ ViewData["Title"] = "Dashboard"; }

<h2>Dashboard</h2>
<h2>Dashboard</h2>

@*<div id="appDashboard"></div>*@

@*@section Scripts
    {
        <script>
        const dashboard = {
            myLeagues: @Html.Raw(Model.MyLeaguesJson)
        };
        window.dashboard = dashboard;
        </script>
        <script src="~/dist/main.js"></script>
    }*@