@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Covid Complex</h1>
    <p>Stay informed. It's harder than it sounds.</p>
</div>

<h2 class="mb-3">Posts</h2>

<div class="row">
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Masks Are Fueling COVID Transmission</h2>
            </div>
            <div class="card-body">
                <p class="italic">December 12th, 2020</p>

                <p>You heard it here. I'm in Denver, Colorado. Everywhere I go and every person I see - we are all wearing a mask. I'm getting pretty tired of the "wear your damn mask!" narrative because I contend it's perpetuating the COVID madness. I am going to make the argument that "wear your damn mask" is, at best doing nothing, and at worst fueling the current COVID transmission levels.</p>

                <p>To begin, let's set two ground rules for my argument...</p>

                <a asp-page="Posts/MasksAreFuelingCovidTransmission">keep reading</a>
            </div>
        </div>
    </div>
    
</div>

<hr />
<h2 class="mb-3">County Quick Access</h2>

<div class="row">
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Jefferson County, Colorado</h2>
            </div>
            <div class="card-body">
                <a href="/state/colorado/jefferson/summary">visit</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Denver County, Colorado</h2>
            </div>
            <div class="card-body">
                <a href="/state/colorado/denver/summary">visit</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Allegheny County, Pennsylvania</h2>
            </div>
            <div class="card-body">
                <a href="/state/pennsylvania/allegheny/summary">visit</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Mercer County, Pennsylvania</h2>
            </div>
            <div class="card-body">
                <a href="/state/pennsylvania/mercer/summary">visit</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-12 mb-3 ">
        <div class="card">
            <div class="card-header">
                <h2>Lawrence County, Pennsylvania</h2>
            </div>
            <div class="card-body">
                <a href="/state/pennsylvania/lawrence/summary">visit</a>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/dist/main.js" asp-append-version="true"></script>
}