@page "/resources/comorbidities"

@model ResourcesComorbiditiesModel
@{ ViewData["Title"] = "Resources - Comorbidities"; }

<div class="row mb-5">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Comorbidities</h1>
            </div>
            <div class="card-body">
                <a name="comorbidities"></a>

                <div class="card mb-3">
                    <div class="card-header">
                        <h1>Metabolic Syndrome</h1>
                    </div>
                    <div class="card-body">
                        <a name="metabolic-syndrome"></a>

                        <h2>summary</h2>
                        <p class="font-italic"><a href="https://www.mayoclinic.org/diseases-conditions/metabolic-syndrome/symptoms-causes/syc-20351916" target="_blank">sourced from The Mayo Clinic</a></p>

                        <p>
                            Metabolic syndrome is a cluster of conditions that occur together, increasing your risk of heart disease, stroke and type 2 diabetes. These conditions include increased blood pressure, high blood sugar, excess body fat around the waist, and abnormal cholesterol or triglyceride levels.
                        </p>

                        <div>
                            <h2>Learn More</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://news.tulane.edu/pr/metabolic-syndrome-linked-worse-outcomes-COVID-19-patients" target="_blank">Metabolic syndrome linked to worse outcomes for COVID-19 patients</a></li>
                                <li class="list-group-item"><a href="https://chriskresser.com/how-a-paleo-diet-can-reverse-metabolic-syndrome/" target="_blank">https://chriskresser.com/how-a-paleo-diet-can-reverse-metabolic-syndrome/</a></li>
                                <li class="list-group-item"><a href="https://robbwolf.com/2020/04/14/metabolic-health-and-covid-19-salty-talk-005-thrr/" target="_blank">https://robbwolf.com/2020/04/14/metabolic-health-and-covid-19-salty-talk-005-thrr/</a></li>
                                <li class="list-group-item"><a href="https://robbwolf.com/2020/07/20/covid-update-treatments-and-perspective-salty-talk-016-thrr/" target="_blank">https://robbwolf.com/2020/07/20/covid-update-treatments-and-perspective-salty-talk-016-thrr/</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h1>Heart Disease</h1>
                    </div>
                    <div class="card-body">
                        <a name="heart-disease"></a>

                        <h2>summary</h2>
                        <p class="font-italic"><a href="https://www.mayoclinic.org/diseases-conditions/heart-disease/symptoms-causes/syc-20353118" target="_blank">sourced from The Mayo Clinic</a></p>

                        <p>Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.</p>
                        <p>The term "heart disease" is often used interchangeably with the term "cardiovascular disease." Cardiovascular disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's muscle, valves or rhythm, also are considered forms of heart disease.</p>
                        <p>Many forms of heart disease can be prevented or treated with healthy lifestyle choices.</p>

                        <h2>death toll</h2>
                        <p class="font-italic"><a href="https://www.cdc.gov/heartdisease/facts.htm" target="_blank">sourced from The Centers for Disease Control and Prevention</a></p>

                        <p>Heart disease is the number one cause of death in The United States. The CDC estimates that 655,000 Americans die from heart disease EVERY. SINGLE. YEAR.</p>

                        <div>
                            <h2>Learn More</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://www.cdc.gov/heartdisease/facts.htm" target="_blank">https://www.cdc.gov/heartdisease/facts.htm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
