@page "/resources"

@model ResourcesModel
@{ ViewData["Title"] = "Resources"; }

<h2>Resources</h2>


<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Kids are Safest in School</h1>
            </div>
            <div class="card-body">
                <a name="safest-in-school"></a>

                <p class="font-italic"><a href="https://www.foxnews.com/health/cdc-director-schools-among-safest-places-kids" target="_blank">sourced from Fox News</a></p>

                <p class="font-italic">When it comes down to where children are safest during the coronavirus pandemic, CDC Director Robert Redfield says schools are the best place to be.</p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Help Others</h1>
            </div>
            <div class="card-body">
                <a name="help-others"></a>

                <p>Millions upon millions of Americans are out of work and unable to financially support their home.</p>

                <h2>DONATE!</h2>
                <ul class="list-group">
                    <li class="list-group-item">Lookup your local food bank and send them money. Like literally this minute.</li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Help Yourself</h1>
            </div>
            <div class="card-body">
                <a name="help-yourself"></a>

                <p class="font-italic">the following is 100% my opinion</p>

                <p>This is the exact advice I would give to almost anyone to reduce your risk of an adverse outcome from a COVID-19 infection.</p>

                <h2>GET THE FUCK OUTSIDE!</h2>
                <p>Good for your physical health, good for your mental health and the Sun is the best possible source of Vitamin D.</p>
                <ul class="list-group">
                    <li class="list-group-item">Good for your physical health.</li>
                    <li class="list-group-item">Good for your mental health.</li>
                    <li class="list-group-item">The Sun is the best possible source of Vitamin D on this planet.</li>
                </ul>

                <h2 class="mt-3">GET FIT!</h2>
                <ul class="list-group">
                    <li class="list-group-item"><a href="https://map.crossfit.com/" target="_blank">Join your local CrossFit affiliate.</a></li>
                    <li class="list-group-item">Join your local fitness center.</li>
                    <li class="list-group-item">Take yoga classes.</li>
                    <li class="list-group-item">Lift weights.</li>
                </ul>

                <h2 class="mt-3">LOSE WEIGHT!</h2>
                <ul class="list-group">
                    <li class="list-group-item">If you an already active person, might I suggest <a href="https://www.amazon.com/Paleo-Solution-Original-Human-Diet/dp/0982565844">The Paleo Solution</a> by Robb Wolf.</li>
                    <li class="list-group-item">If you're rather sedentary, might I suggest <a href="https://www.amazon.com/Dr-Atkins-New-Diet-Revolution/dp/006001203X/">Dr. Atkins' New Diet Revolution</a>.</li>
                </ul>


                <h2 class="mt-3">WATCH THESE!</h2>
                <p>Everyone person concerned about an adverse outcome from COVID-19 should watch and digest this media</p>

                <ul class="list-group">
                    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=Sc5oa6MqPDg" target="_blank">Joe Rogan and Nicholas Christakis</a></li>
                    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=s8tJ-R28HX8" target="_blank">Joe Rogan and Paul Saladino</a></li>
                    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=45rlZGRz6Qo" target="_blank">Dr. Rhonda Patrick: Vitamin D may reduce susceptibility to COVID-19-19-associated lung injury</a></li>
                </ul>

                <h2 class="mt-3">READ THESE!</h2>
                <p>Everyone person concerned about an adverse outcome from COVID-19 should read and digest this media</p>

                <ul class="list-group">
                    <li class="list-group-item"><a href="https://chrismasterjohnphd.com/COVID-19-19/finally-confirmed-vitamin-d-nearly-abolishes-icu-risk-in-COVID-19-19" target="_blank">Finally Confirmed! Vitamin D Nearly Abolishes ICU Risk in COVID-19-19</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Lockdowns</h1>
            </div>
            <div class="card-body">
                <a name="lockdowns"></a>

                <p class="font-italic"><a href="https://www.who.int/news-room/q-a-detail/herd-immunity-lockdowns-and-COVID-19-19" target="_blank">sourced from The World Health Organization</a></p>

                <h2>The World Health Organization writes...</h2>

                <p>Large scale physical distancing measures and movement restrictions, often referred to as ‘lockdowns’, can slow COVID-19‑19 transmission by limiting contact between people.</p>

                <p>However, <span class="font-weight-bolder">these measures [lockdowns] can have a profound negative impact on individuals, communities, and societies by bringing social and economic life to a near stop</span>. Such measures disproportionately affect disadvantaged groups, including people in poverty, migrants, internally displaced people and refugees, who most often live in overcrowded and under resourced settings, and depend on daily labour for subsistence.</p>

                <p>WHO recognizes that at certain points, some countries have had no choice but to issue stay-at-home orders and other measures, to buy time.</p>

                <p>Governments must make the most of the extra time granted by ‘lockdown’ measures by doing all they can to build their capacities to detect, isolate, test and care for all cases; trace and quarantine all contacts; engage, empower and enable populations to drive the societal response and more.</p>

                <p>WHO is hopeful that countries will use targeted interventions where and when needed, based on the local situation.</p>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Co-morbidities</h1>
            </div>
            <div class="card-body">
                <a name="comorbidities"></a>

                <div class="card mb-3">
                    <div class="card-header">
                        <h1>Metabolic Syndrome</h1>
                    </div>
                    <div class="card-body">
                        <a name="metabolic-syndrome"></a>

                        <h2>summary</h2>
                        <p class="font-italic"><a href="https://www.mayoclinic.org/diseases-conditions/metabolic-syndrome/symptoms-causes/syc-20351916" target="_blank">sourced from The Mayo Clinic</a></p>

                        <p>
                            Metabolic syndrome is a cluster of conditions that occur together, increasing your risk of heart disease, stroke and type 2 diabetes. These conditions include increased blood pressure, high blood sugar, excess body fat around the waist, and abnormal cholesterol or triglyceride levels.
                        </p>

                        <div>
                            <h2>Learn More</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://news.tulane.edu/pr/metabolic-syndrome-linked-worse-outcomes-COVID-19-19-patients" target="_blank">Metabolic syndrome linked to worse outcomes for COVID-19-19 patients</a></li>
                                <li class="list-group-item"><a href="https://chriskresser.com/how-a-paleo-diet-can-reverse-metabolic-syndrome/" target="_blank">https://chriskresser.com/how-a-paleo-diet-can-reverse-metabolic-syndrome/</a></li>
                                <li class="list-group-item"><a href="https://robbwolf.com/2020/04/14/metabolic-health-and-COVID-19-19-salty-talk-005-thrr/" target="_blank">https://robbwolf.com/2020/04/14/metabolic-health-and-COVID-19-19-salty-talk-005-thrr/</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="card mb-3">
                    <div class="card-header">
                        <h1>Heart Disease</h1>
                    </div>
                    <div class="card-body">
                        <a name="heart-disease"></a>

                        <h2>summary</h2>
                        <p class="font-italic"><a href="https://www.mayoclinic.org/diseases-conditions/heart-disease/symptoms-causes/syc-20353118" target="_blank">sourced from The Mayo Clinic</a></p>

                        <p>Heart disease describes a range of conditions that affect your heart. Diseases under the heart disease umbrella include blood vessel diseases, such as coronary artery disease; heart rhythm problems (arrhythmias); and heart defects you're born with (congenital heart defects), among others.</p>
                        <p>The term "heart disease" is often used interchangeably with the term "cardiovascular disease." Cardiovascular disease generally refers to conditions that involve narrowed or blocked blood vessels that can lead to a heart attack, chest pain (angina) or stroke. Other heart conditions, such as those that affect your heart's muscle, valves or rhythm, also are considered forms of heart disease.</p>
                        <p>Many forms of heart disease can be prevented or treated with healthy lifestyle choices.</p>

                        <h2>death toll</h2>
                        <p class="font-italic"><a href="https://www.cdc.gov/heartdisease/facts.htm" target="_blank">sourced from The Centers for Disease Control and Prevention</a></p>

                        <p>Heart disease is the number one cause of death in The United States. The CDC estimates that 655,000 Americans die from heart disease EVERY. SINGLE. YEAR.</p>

                        <div>
                            <h2>Learn More</h2>
                            <ul class="list-group">
                                <li class="list-group-item"><a href="https://www.cdc.gov/heartdisease/facts.htm" target="_blank">https://www.cdc.gov/heartdisease/facts.htm</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
