@page "/resources/kids-are-safest-at-school"

@model ResourcesKidsSafestSchoolModel
@{ ViewData["Title"] = "Resources - Kids are Safest in School"; }

<h2>Resources</h2>

<div class="row mb-5">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Kids are Safest in School</h1>
            </div>
            <div class="card-body">
                <a name="safest-in-school"></a>

                <p class="font-italic"><a href="https://www.foxnews.com/health/cdc-director-schools-among-safest-places-kids" target="_blank">sourced from Fox News</a></p>

                <p class="font-italic">When it comes down to where children are safest during the coronavirus pandemic, CDC Director Robert Redfield says schools are the best place to be.</p>
            </div>
        </div>
    </div>
</div>
