@page "/resources"

@model ResourcesModel
@{ ViewData["Title"] = "Resources"; }

<h2>Resources</h2>

<ul class="list-group">
    <li class="list-group-item">
        <h2><a asp-page="ResourcesKidsSafestInSchool">Kids are Safest in School</a></h2>
    </li>
    
    <li class="list-group-item">
        <h2><a asp-page="ResourcesHelpOthers">Help Others</a></h2>
    </li>
    
    <li class="list-group-item">
        <h2><a asp-page="ResourcesHelpYourself">Help Yourself</a></h2>
    </li>
    
    <li class="list-group-item">
        <h2><a asp-page="ResourcesLockdowns">Lockdowns</a></h2>
    </li>
    
    <li class="list-group-item">
        <h2><a asp-page="ResourcesComorbidities">Comorbidities</a></h2>
    </li>
</ul>
