@page "/resources/help-others"

@model ResourcesHelpOthersModel
@{ ViewData["Title"] = "Resources - Help Others"; }

<div class="row mb-5">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Help Others</h1>
            </div>
            <div class="card-body">
                <a name="help-others"></a>

                <p>Millions upon millions of Americans are out of work and unable to financially support their home.</p>

                <h2>DONATE!</h2>
                <ul class="list-group">
                    <li class="list-group-item">Lookup your local food bank and send them money. Like literally this minute.</li>
                </ul>
            </div>
        </div>
    </div>
</div>