@page "/resources/lockdowns"

@model ResourcesLockdownsModel
@{ ViewData["Title"] = "Resources - Lockdowns"; }

<div class="row">
    <div class="col">
        <div class="card mb-3">
            <div class="card-header">
                <h1>Lockdowns</h1>
            </div>
            <div class="card-body">
                <a name="lockdowns"></a>

                <p class="font-italic"><a href="https://www.who.int/news-room/q-a-detail/herd-immunity-lockdowns-and-COVID-19" target="_blank">sourced from The World Health Organization</a></p>

                <h2>The World Health Organization writes...</h2>

                <p>Large scale physical distancing measures and movement restrictions, often referred to as ‘lockdowns’, can slow COVID‑19 transmission by limiting contact between people.</p>

                <p>However, <span class="font-weight-bolder">these measures [lockdowns] can have a profound negative impact on individuals, communities, and societies by bringing social and economic life to a near stop</span>. Such measures disproportionately affect disadvantaged groups, including people in poverty, migrants, internally displaced people and refugees, who most often live in overcrowded and under resourced settings, and depend on daily labour for subsistence.</p>

                <p>WHO recognizes that at certain points, some countries have had no choice but to issue stay-at-home orders and other measures, to buy time.</p>

                <p>Governments must make the most of the extra time granted by ‘lockdown’ measures by doing all they can to build their capacities to detect, isolate, test and care for all cases; trace and quarantine all contacts; engage, empower and enable populations to drive the societal response and more.</p>

                <p>WHO is hopeful that countries will use targeted interventions where and when needed, based on the local situation.</p>
            </div>
        </div>
    </div>
</div>