@page "/source-code"

@model SourceCodeModel
@{
    ViewData["Title"] = "Source Code";
}

<h2>About</h2>

@*<div class="container-fluid">*@
    <div class="row">
        <div class="col-md">
            <p>The source code for this website is available at <a href="https://github.com/ryanrodemoyer/covid-complex">https://github.com/ryanrodemoyer/covid-complex</a> using the GPL-3 license. I have spent a non-trivial amount of time on this site and expect that others who use this work to also publish their changes.</p>
        </div>
    </div>
@*</div>*@

@*@section scripts{
    <partial name="_ValidationScriptsPartial"/>
}*@